@font-face {
  font-family: 'Oswald';
  font-weight: 200;
  src: local('Oswald-ExtraLight'),
    url(./fonts/Oswald-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 300;
  src: local('Oswald-Light'), url(./fonts/Oswald-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  src: local('Oswald-Regular'),
    url(./fonts/Oswald-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 500;
  src: local('Oswald-Medium'), url(./fonts/Oswald-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 600;
  src: local('Oswald-SemiBold'),
    url(./fonts/Oswald-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 700;
  src: local('Oswald-Bold'), url(./fonts/Oswald-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 400;
  src: local('EBGaramond-Regular'),
    url(./fonts/EBGaramond-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 400;
  font-style: italic;
  src: local('EBGaramond-Italic'),
    url(./fonts/EBGaramond-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 500;
  src: local('EBGaramond-Medium'),
    url(./fonts/EBGaramond-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 500;
  font-style: italic;
  src: local('EBGaramond-MediumItalic'),
    url(./fonts/EBGaramond-MediumItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 600;
  src: local('EBGaramond-SemiBold'),
    url(./fonts/EBGaramond-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 600;
  font-style: italic;
  src: local('EBGaramond-SemiBoldItalic'),
    url(./fonts/EBGaramond-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 700;
  src: local('EBGaramond-Bold'),
    url(./fonts/EBGaramond-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: local('OpenSans-Light'),
    url(./fonts/OpenSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: local('OpenSans-Regular'),
    url(./fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  src: local('OpenSans-SemiBold'),
    url(./fonts/OpenSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: local('OpenSans-Bold'), url(./fonts/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: local('OpenSans-ExtraBold'),
    url(./fonts/OpenSans-ExtraBold.ttf) format('truetype');
}
