.aboutContainer {
  .praxisHeader {
    font-size: 36px;
    margin-bottom: 4vh;
    @include for-phone-only {
      font-size: 28px;
    }
    @include for-tablet-portait-only {
      font-size: 28px;
    }
  }

  .praxisParagraph {
    font-size: 16px;
  }

  .praxisSmallHeader {
    font-size: 24px;
    text-align: center;
  }

  .praxisSmallerHeader {
    font-size: 18px;
    @include for-phone-only {
      font-size: 14px;
    }
    @include for-tablet-portait-only {
      font-size: 14px;
    }
  }

  .firstSection {
    text-align: center;
    margin-right: 12em;
    margin-left: 12em;
    margin-top: 10vh !important;
    padding: 5vw;

    @include for-phone-only {
      margin: 0;
      margin-top: 20vh !important;
      margin-bottom: 4vh;
    }
    @include for-tablet-portait-only {
      margin: 0;
      margin-top: 20vh;
      margin-bottom: 4vh;
    }
  }

  .secondSection {
    padding: 6em 16em;
    min-height: 60vh;
    background-color: #f7fafc;
    @include for-phone-only {
      padding: 6vh 10vw;
    }
    @include for-tablet-portait-only {
      padding: 6vh 10vw;
    }
  }

  .secondSection__row {
    display: flex;
    margin-bottom: 6em;
    @include for-phone-only {
      flex-direction: column !important;
      align-items: center;
      justify-content: center;
    }
    .secondSection__columnOne {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 3em;
      h3 {
        margin: 0.3em 0;
      }
      span {
        font-size: 14px;
        letter-spacing: 1.4px;
      }
      @include for-phone-only {
        margin: 0 !important;
        text-align: center;
      }
    }

    .secondSection__columnTwo {
      p {
        font-size: 16px;
        color: #242635;
      }
      @include for-phone-only {
        margin: 1.5em 0;
        text-align: center;
      }
    }
  }

  .secondSection__rowTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3em;
    @include for-phone-only {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .secondSection__columnThree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include for-phone-only {
      margin-bottom: 6em;
    }
    h3 {
      margin: 0.3em 0;
    }
    span {
      font-size: 14px;
      letter-spacing: 1.4px;
    }
    p {
      margin: 1.5em 0;
      font-size: 16px;
      text-align: center;
      color: #242635;
    }

    .secondSection__link {
      padding-bottom: 1em;
      border-bottom: 5px solid #ec2027;
      cursor: pointer;
    }
  }
}
