#headerContainer {
  min-height: 15vh;

  position: fixed;
  width: 250px;
  overflow-y: auto;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  padding: 50px;

  .links {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2em;
    display: inline-block;
  }

  .linkContainer {
    // font-family: 'Oswald';
    display: flex;
    flex-direction: column;
  }

  .links::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 3px;
    height: 1px;
    background: #000;
    transition: width 0.3s;
  }

  .links:hover::after {
    width: 100%;
  }
}

a {
  text-decoration: none;
}

// .underlineMagical {
//   background-image: linear-gradient(120deg, #8fd3f4 0%, #fdfd96 100%);
//   background-repeat: no-repeat;
//   background-size: 100% 0.2em;
//   background-position: 0 88%;
//   transition: background-size 0.25s ease-in;
//   &:hover {
//     background-size: 100% 88%;
//   }
// }
