.newsContainer {
  .praxisLine {
    height: 1px;
    background-color: lightgray;
    margin-top: 8vh;
    margin-bottom: 8vh;
    @include for-phone-only {
      margin-top: 8vw;
      margin-bottom: 8vw;
    }
    @include for-tablet-portait-only {
      margin-top: 8vw;
      margin-bottom: 8vw;
    }
  }

  .praxisHeader {
    font-size: 36px;
    @include for-phone-only {
      font-size: 28px;
    }
    @include for-tablet-portait-only {
      font-size: 28px;
    }
  }

  .praxisParagraph {
    font-size: 16px;
  }

  .praxisSmallHeader {
    font-size: 24px;
  }

  .praxisSmallerHeader {
    font-size: 18px;
    @include for-phone-only {
      font-size: 14px;
    }
    @include for-tablet-portait-only {
      font-size: 14px;
    }
  }

  .praxisSmallParagraph {
    font-size: 14px;
  }

  .newsContainer__firstSection {
    background-color: lighten($color: black, $amount: 30);
    min-height: 80vh;
    padding-right: 5vw;
    padding-left: 5vw;
    background-image: url('../../images/elements/header-img.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10vh;
    background-blend-mode: overlay;

    @include for-phone-only {
      padding-right: 5vh;
      padding-left: 5vh;
      background-position-x: -455px;
      background-position-y: 160px;
    }
    @include for-tablet-portait-only {
      padding-right: 5vh;
      padding-left: 5vh;
      background-position-x: -455px;
      background-position-y: 170px;
    }

    #postTitle {
      color: white;
      // font-size: 48px;
      font-size: 56px;
    }

    #postDate {
      color: white;
      font-size: 24px;
    }
  }

  .newsContainer__secondSection {
    padding: 5vw;
    padding-bottom: 2vw;

    .newsContainer__image {
      min-width: 200px;
      height: 120px;
      background-color: lighten($color: lightgray, $amount: 10);
      margin-right: 2vw;
      @include for-phone-only {
        margin-right: 0;
        margin-bottom: 2vh;
      }
      @include for-tablet-portait-only {
        margin-right: 0;
        margin-bottom: 2vh;
      }
    }

    .newsContainer__row {
      display: flex;
      margin-bottom: 4vh;

      @include for-phone-only {
        flex-direction: column;
      }
      @include for-tablet-portait-only {
        flex-direction: column;
      }
    }

    p {
      font-size: 18px;
      margin-bottom: 2vw;

      img {
        display: block;
        margin: auto;
        margin-top: 6vh;
        margin-bottom: 6vh;
        @include for-phone-only {
          margin-top: 4vh;
          margin-bottom: 4vh;
          width: 100%;
          height: 100%;
        }
        @include for-tablet-portait-only {
          margin-top: 4vh;
          margin-bottom: 4vh;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .newsContainer__thirdSection {
    padding: 5vw;
    background-color: lighten($color: lightgray, $amount: 10);
  }

  .postContainer {
    cursor: pointer;
  }
}
